<div th:fragment="devices" xmlns:th="http://www.thymeleaf.org/">
    <div th:if="${devices.size() == 0}" class="alert alert-primary">
        <h4 class="alert-heading">Connect devices</h4>
        <p>There is no devices connected at the moment. Once connected, devices will show up here.</p>
    </div>

    <div th:if="${devices.size() != 0}">
        <h1 class="display-4">Devices</h1>
        <a th:each="device : ${devices}" href="device/" + ${device.id}>
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header" th:text="${device.manufacturer}"></div>
                <div class="card-body text-primary">
                    <h5 class="card-title" th:text="${device.name}"></h5>
                    <p class="card-text" th:text="${device.description}"></p>
                </div>

                <!-- TODO: Insert code that displays whether device is connected or not -->
            </div>
        </a>
    </div>
</div>