<nav th:fragment="header" xmlns:th="http://www.thymeleaf.org/" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img id="logo" src="images/logo-27px.png" alt="SmartHome">
        <span>SmartHome</span>
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Devices</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subscriptions">Subscriptions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scheduler">Scheduler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/rooms">Rooms</a>
            </li>
        </ul>
    </div>
</nav>
