<div class="column is-one-fifth sidebar is-fullheight hero">
    <ul class="menu-list">
        <li><a href="/"><span class="icon is-large"><i class="fas fa-lg fa-desktop"></i></span><span class="is-size-4">Devices</span></a>
        </li>
        <li><a href="/subscriptions"><span class="icon is-large"><i class="fas fa-lg fa-list-ul"></i></span><span
                class="is-size-4">Subscriptions</span></a></li>
        <li><a href="/scheduler"><span class="icon is-large"><i class="fas fa-lg fa-calendar-alt"></i></span><span
                class="is-size-4">Scheduler</span></a></li>
        <li><a href="/rooms"><span class="icon is-large"><i class="fas fa-lg fa-bed"></i></span><span class="is-size-4">Rooms</span></a>
        </li>
    </ul>
</div>