/* General */

/* Header */
.navbar {
    padding-left: 20px;
    padding-right: 20px;
}

#logo {
    margin-right: 10px;
}

#logoText {

}

/* Sidebar */
.sidebar {
    background-color: #3d3d3d;
}

.sidebar span {
    color: #fcfcfc;
}

/* Index content */
#noDevicesAlert {
    margin: 30px;
}


#deviceList .box {
    margin-top: 10px;
}

/* Rooms content */
