<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartHome - Homepage</title>

    <th:block th:replace="fragments/headBootstrap"></th:block>

</head>
<body>
<div th:replace="fragments/header"></div>

<div class="columns">
    <div th:replace="fragments/sidebar"></div>
    <!-- Content of index page -->
    <div class="column is-paddingless">
        <article th:if="${devices.size() == 0}" class="message" id="noDevicesAlert">
            <div class="message-header">
                <p>Connect devices</p>
            </div>
            <div class="message-body">There is no devices connected at the moment. Once connected, devices will show
                up here.
            </div>
        </article>

        <div th:if="${devices.size() != 0}">
            <!-- Heading of the devices -->
            <section class="hero is-primary">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="title">
                            Devices in use
                        </h1>
                        <h2 class="subtitle">
                            Here you can access control panels of every device connected to the system
                        </h2>
                    </div>
                </div>
            </section>

            <!-- TODO: Statistics cards -->


            <!-- Device list -->
            <div class="container" id="deviceList">
                <!-- TODO: Fix href if necessary -->
                <a th:each="device : ${devices}" href="device/" + ${device.id}>
                    <div class="box">
                        <h1 class="title is-3" th:text="${device.name}"></h1>
                        <h2 class="subtitle is-5" th:text="${device.manufacturer}"></h2>
                        <hr>
                        <p class="is-5" th:text="${device.type}"></p>
                    </div>
                    <!-- TODO: Insert code that displays whether device is connected or not -->
                    <p th:if="${sessions.get(device.id)}">Connected</p>
                </a>
            </div>
        </div>

    </div>
</div>
</body>
</html>